<div class="barra-descuento">
  <div class="barra-track">
    <span
      >🎿 <strong>20% OFF</strong> abonando en efectivo &nbsp;|&nbsp;
      <strong>3 cuotas sin interés</strong> con tarjetas bancarias
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
    >
    <span
      >⛷ <strong>Cancelación gratuita</strong> hasta 24h antes &nbsp;|&nbsp;
      <strong>Ajuste profesional</strong> incluido en todos los packs
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
    >
    <span
      >🎿 <strong>20% OFF</strong> abonando en efectivo &nbsp;|&nbsp;
      <strong>3 cuotas sin interés</strong> con tarjetas bancarias
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
    >
    <span
      >⛷ <strong>Cancelación gratuita</strong> hasta 24h antes &nbsp;|&nbsp;
      <strong>Ajuste profesional</strong> incluido en todos los packs
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
    >
  </div>
</div>

<header class="header">
  <nav class="navbar">
    <div class="logo">
      <a href="{{BASE}}index.html">
        <img
          src="{{BASE}}img/home/logo.webp"
          alt="Aventura Pro Shop"
          width="120"
          height="45"
        />
      </a>
    </div>
    <button
      class="hamburguesa"
      id="hamburguesa"
      aria-label="Abrir menú"
      aria-expanded="false"
    >
      <span></span><span></span><span></span>
    </button>
    <ul class="menu" id="menu">
      <li><a href="{{BASE}}index.html">INICIO</a></li>
      <li><a href="{{BASE}}page/tiendas.html">TIENDA</a></li>
      <li><a href="{{BASE}}page/reservas.html">RESERVA</a></li>
      <!-- <li class="menu-item--dropdown">
        <a href="#" id="reservasToggle">RESERVA ▾</a>

        <ul class="dropdown">
          <li><a href="{{BASE}}page/equipos.html">Equipos</a></li>
          <li><a href="{{BASE}}page/tarifas.html">Tarifas</a></li>
          <li><a href="{{BASE}}page/checkout.html">Reservar ahora</a></li>
        </ul>
      </li> -->
      <li><a href="{{BASE}}page/taller.html">TALLER</a></li>
      <li><a href="{{BASE}}page/nosotros.html">NOSOTROS</a></li>
      <li><a href="{{BASE}}page/contacto.html">CONTACTO</a></li>
    </ul>
    <!-- <div class="carrito-nav">
      <div class="carrito-icono" id="toggleCarrito" role="button" aria-label="Abrir carrito">
        🛒 <span id="contadorCarrito">0</span>
      </div>
    </div> -->
  </nav>
</header>

<div class="overlay" id="overlay"></div>

<!-- <div class="carrito-panel" id="carritoPanel" aria-label="Carrito de compras">
  <div class="carrito-header">
    <h2>TU CARRITO</h2>
    <button id="cerrarCarrito" aria-label="Cerrar carrito">✕</button>
  </div>
  <div id="listaCarrito"></div>
  <div class="carrito-footer">
    <p class="total-carrito">Total: <span>$<span id="total">0</span></span></p>
    <button class="btn-vaciar" onclick="vaciarCarrito()">🗑 Vaciar carrito</button>
    <a href="{{BASE}}page/checkout.html" id="btnFinalizar" class="btn-finalizar disabled">Finalizar reserva →</a>
  </div>
</div> -->
