// =============================================
// HEADER
// =============================================
@use "../base/variables" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background: $blanco;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 40px;
  gap: 20px;
}

// Logo
.logo {
  flex-shrink: 0;

  img {
    height: 65px;
    width: auto;
    display: block;
  }
}

// Título central
// .titulo {
//   font-size: 18px;
//   font-weight: 500;
//   color: $negro;
//   white-space: nowrap;
// }

// Menú
.menu {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    color: $negro;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: $radius-sm;
    transition: background 0.2s ease;

    &:hover {
      background: $azul;
      color: $blanco;
    }
  }
}

// Hamburguesa — oculta en desktop
.hamburguesa {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  padding: 4px;
  background: none;
  border: none;
  flex-shrink: 0;

  span {
    display: block;
    width: 25px;
    height: 3px;
    background: $negro;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
}

// ── RESPONSIVE MOBILE ─────────────────────────
@media (max-width: $bp-tablet) {
  .navbar {
    padding: 0 20px;
  }

  .titulo {
    display: none;
  }

  .hamburguesa {
    display: flex;
  }

  .menu {
    display: none;
    position: absolute;
    top: $header-height;
    left: 0;
    width: 100%;
    background: $blanco;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    gap: 0;
    z-index: 999;

    &.active {
      display: flex;
    }

    li {
      width: 100%;
      text-align: center;
    }

    a {
      display: block;
      padding: 14px 0;
      border-radius: 0;
      width: 100%;

      &:hover {
        background:$azul;
        transition: background 0.5s ease;
        color: $blanco;
        
      }
    }
  }
}
